<h2><%= @event.title %></h2><br>
<h3><%= @event.description %></h3><br>
Tags: <%= @event.tag_list %>
<br>
<% if !current_user.nil? && current_user.id == @event.user_id %>
<%= link_to "Event bearbeiten", edit_event_path(@event) %> | <%= link_to "Event löschen", event_path(@event), method: :delete, data: { confirm: "Sind sie sicher?" }%>
    <% end %><br>
<table>
  <td style="min-width: 200px;">Termin-Möglichkeiten:</td>
  <td><div class="container">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <% if @tag.nil? %>
            Kategorie auswählen
        <% else %>
            <%= @tag %>
        <% end %>
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%= link_to "Logik", event_path(date: @date, search_input: "Logik") %></li>
      </ul>
    </div>
  </div></td>
</table>
 <br><br>
<% @possibilities.each do |poss| %>
    <% if allnotconfirmed?(@event) %>
        <div class ="blue">
          <% elsif poss.confirmed == true %>
        <div class ="green">
          <% if !current_user.nil? && current_user.id == @event.user_id %>
          <%= link_to "Rückgängig machen?", confirm_path(poss), :method => :post %><br>
        <%end %>
          <% else %>
        <div class ="red">
          <% end %>
        <h2>Möglichkeit <%= poss.number %>:<br></h2>
        <% if allnotconfirmed?(@event) %>
        <% if !current_user.nil? && current_user.id == @event.user_id %>
            <%= link_to "Event bestätigen?", confirm_path(poss), :method => :post %><br>
            <% end %>
        <% end %>
        <% poss.date_events.each do |date| %>
            <% datumkonflikt = konfliktdate?(@event, poss, date) %>
            <%= date.date.strftime("%d-%m-%Y") %> |
            <% datumkonflikt.each do |konf| %>
                Konflikt mit: <%= link_to konf.title, event_path(konf) %> |
                <% end %><br>
        <% end %>
    <% if !current_user.nil? && current_user.id == @event.user_id %>
        <%= link_to "Möglichkeit löschen", possibility_path(poss), method: :delete, data: { confirm: "Sind sie sicher?" }%>
    <% end %><br>
</div><br><br>
<% end %>
<br>
<%= link_to "Möglichkeit hinzufügen", event_possibilities_path(@event), :method => :post %>