<div class="green">
  Grüner Hintergrund bedeutet: Termin findet definitiv an diesem Tag statt!
</div><br>
<div class="blue">
  Blauer Hintergrund bedeutet: Termin findet möglicherweise an diesem Tag statt.
</div><br>
<div class="blue">
  Diese weissen Kästchen: <div class="smallwhite"></div> zeigen Ihre Termine an.
</div>
<br>
<div class="container">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <% if @tag.nil? %>
          Kategorie auswählen
      <% else %>
          <%= @tag %>
      <% end %>
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% @categories.each do |cat| %>
          <li><%= link_to cat.name, kalender_path(date: @date, search_input: cat.name.to_s), remote:true %></li>
      <%end%>
    </ul>
  </div>
</div>
<br>
<div class="userview">
  <%= link_to "Früher ", kalender_path(date: @date - 1.month, search_input: params[:search_input]), remote:true %>
  <%= "#{@date.strftime("%B")} #{@date.year}" %>
  <%= link_to " Später ", kalender_path(date: @date + 1.month, search_input: params[:search_input]), remote:true %>
</div>
<br>
<table class="table table-striped table-bordered table-sm table-responsive table-reflow">
  <tr>
    <th>Montag</th>
    <th>Dienstag</th><th>Mittwoch</th>
    <th>Donnerstag</th><th>Freitag</th>
    <th>Samstag</th><th>Sonntag</th>
  </tr>
  <% @weeks.each do |week| %>
      <tr>
        <% week.each do |date| %>
            <% if date.month != @date.month %>
                <td style="background-color: gray">
                  <%= date.day %>
                  <% @events.each do |event| %>
                      <% event.possibilities.each do |poss| %>
                          <% poss.date_events.each do |datex| %>
                              <% if datex.date == date %>
                                  <br><div class="trigger">
                  <% if poss.confirmed == true %>
                      <div class="green"%>
                        <%= link_to event.title, event_path(event) %>
                        <% if !current_user.nil? && event.user_id == current_user.id %>
                            <div class="smallwhite"> </div>
                        <% end %>
                      </div>
                      <div class="pop-up">
                        <h3><%= event.title %></h3>
                        <%= poss.number %>. Möglichkeit<br><br>
                        Beschreibung: <br>
                        <%= event.description %><br>
                        <% konflikte = konflikt?(event, poss) %>
                        <% konflikte.each do |konflikt| %>
                            <%=konflikt %><br>
                        <% end %>
                      </div>
                      </div>
                  <% elsif allnotconfirmed?(event) %>
                      <div class="blue"%>
                        <%= link_to event.title, event_path(event) %>
                        <% if !current_user.nil? && event.user_id == current_user.id %>
                            <div class="smallwhite"> </div>
                        <% end %>
                      </div>
                      <div class="pop-up">
                        <h3><%= event.title %></h3>
                        <%= poss.number %>. Möglichkeit<br><br>
                        Beschreibung: <br>
                        <%= event.description %><br><br>
                        <% konflikte = konflikt?(event, poss) %>
                        <% konflikte.each do |konflikt| %>
                            <%=konflikt %><br>
                        <% end %>
                      </div>
                      </div>
                  <% else%>

                  <% end %>
                                  <br>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                </td>
            <% else %>
                <td>
                  <%= date.day %>
                  <% @events.each do |event| %>
                      <% event.possibilities.each do |poss| %>
                          <% poss.date_events.each do |datex| %>
                              <% if datex.date == date %>
                                  <br><div class="trigger">
                                  <% if poss.confirmed == true %>
                                      <div class="green"%>
                                        <%= link_to event.title, event_path(event) %>
                                        <% if !current_user.nil? && event.user_id == current_user.id %>
                                            <div class="smallwhite"> </div>
                                        <% end %>
                                      </div>
                      <div class="pop-up">
                        <h3><%= event.title %></h3>
                        <%= poss.number %>. Möglichkeit<br><br>
                        Beschreibung: <br>
                        <%= event.description %><br><br>
                        <% konflikte = konflikt?(event, poss) %>
                        <table class="table table-striped table-bordered ">
                          <% konflikte.each do |konflikt| %>
                              <tr>
                                <td style="text-align: left">
                                  Konflikt mit "<%=konflikt[0].title %>":
                                </td><td style="text-align: left"> <%= konflikt[1] %></td>
                              </tr>
                          <% end %>
                        </table>
                      </div>
                      </div>
                                    <% elsif allnotconfirmed?(event) %>
                                      <div class="blue">
                                        <%= link_to event.title, event_path(event) %>
                                          <% if !current_user.nil? && event.user_id == current_user.id %>
                                              <div class="smallwhite"> </div>
                                          <% end %>
                                        </div>
                                          <div class="pop-up">
                                            <h3><%= event.title %></h3>
                                            <%= poss.number %>. Möglichkeit<br><br>
                                            Beschreibung: <br>
                                            <%= event.description %><br><br>
                                            <% konflikte = konflikt?(event, poss) %>
                                            <table class="table table-striped table-bordered ">
                                            <% konflikte.each do |konflikt| %>
                                                  <tr>
                                                  <td style="text-align: left">
                                                Konflikt mit "<%=konflikt[0].title %>":
                                                  </td><td style="text-align: left"> <%= konflikt[1] %></td>
                                                  </tr>
                                            <% end %>
                                            </table>
                                          </div>
                                          </div>
                                  <% else%>

                                  <% end %>
                                  <br>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                </td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>



<script>
  $(document).ready(function(){
    $("div").click(function(){

      if($(this).position().left > 55) {
        $(this).animate({left: '0px'});
      }
      else {
        $(this).animate({left: '250px'});
      }
    });

    $( ".clickme" ).click(function() {
      $(this).children(".book").toggle( "slow", function() {
        // Animation complete.$( "div" ).children( ".selected" ).css( "color", "blue" );
      });
    });




    $(function() {
      var moveLeft = -140;
      var moveDown = 10;

      $('.trigger').hover(function(e) {
        $(this).children("div.pop-up").show();
        //.css('top', e.pageY + moveDown)
        //.css('left', e.pageX + moveLeft)
        //.appendTo('body');
      }, function() {
        $('div.pop-up').hide();
      });

      $('.trigger').mousemove(function(e) {
        $(this).children("div.pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
      });

    });


  });
</script>